.viewport {
    width: 100%;
}
.verse{
    background-color: white;
    /* margin */
    margin: 4px;
    /* border */
    border-style: dashed;
    border-radius: 8px;
    border-width: 2px;
    /* padding */
    padding: 2px;
    /* content */
    font-size: 14px;
    font-family:"myYuan";
    text-align: center;
    vertical-align: middle;
    width:auto; 
    display:inline-block !important; display:inline;
}
.verse-double{
    background-color: rgb(255, 255, 255);
    /* margin */
    margin: 4px;
    /* border */
    border-style: dashed;
    border-radius: 8px;
    border-width: 2px;
    /* padding */
    padding: 2px;
    /* content */
    font-size: 8px;
    font-family:"myYuan";
    text-align: center;
    width:auto; 
    display:inline-block !important; display:inline;
}
.cardBackground {
    background-color: rgb(27, 28, 32);
}
.cardText {
    color: rgb(255, 239, 209);
}
.empty-top {
    margin-top: 100px;
}
#outerBox{
    /* margin */
    margin: 6px;
    /* border */
    border-radius: 1em;
    border-style: groove;
    /* padding */
    padding-top: 1em;
    padding-bottom:1em;
    background-color: rgb(254, 251, 248);

}
#开头文字{
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    /*  */
    font-family:myYuan;
}
#text{
    background-color:'white';
    /* margin */
    margin-top: 2em;
    /* border */
    
    /* padding */
    padding: 2px;
    /* content */
    font-size: 14px;
    font-family: "myYuan";
    text-align: center;
    width:auto; 
    display:inline-block !important; display:inline;
    
}
.btn {
    /* 文字颜色 */
    color: #000000; 
    /* 清除背景色 */
    background: transparent; 
    /* 边框样式、颜色、宽度 */
    border: 2px dashed #000000;
    /* 给边框添加圆角 */
    border-radius: 6px; 
    /* 字母转大写 */
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.按钮{
    margin: 6px;
    margin-top: 2em;
    padding: 2px;
    text-align: center;     
}
@font-face {
    font-family: "yeZiGong";
    src: url("./custom/YeZiGongChangYanShanTingXingKai-2.ttf"); 
  }
@font-face {
    font-family: 'myYuan';
    src: url('./custom/GEETYPE-ZhunYuanGBT-Flash.woff2') format('woff2'),
        url('./custom/GEETYPE-ZhunYuanGBT-Flash.woff') format('woff'),
        url("./custom/jingziChunyuanjianfang.ttf");
    font-weight: normal;               
    font-style: normal;
    font-display: swap;
}